.App {
  text-align: center;
  position: relative;
  top: 30px;
}
body {
  background-color: lightblue;
}
.completed {
  text-decoration: line-through;
}
.container {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 15px;
}
.BTN {
  position: relative;
  left: 435px;
  top: 7px;
}
.btn1 {
  position: relative;
  right: 450px;
  width: 70px;
  height: 30px;
}
input {
  width: 400px;
  height: 45px;
  font-size: 1.2rem;
}
.btn2 {
  width: 90px;
  font-size: 1.2rem;
  height: 50px;
}
